<ion-view view-title="OnMyWay!!">
  <ion-content class="padding">
    <!-- <p>
      <a class="button icon icon-right ion-chevron-right" href="#/views/route">go to app</a>
    </p> -->
    <div class="list list-inset searchBox-top padding">

    	<div id="searchWrap" ng-hide="response">
		      <label class="item item-input">
		        <input type="text" id="start" placeholder="From">
		      </label>
		      <label class="item item-input">
		        <input type="text" id="end" placeholder="To">
		      </label>
    	</div>
	</div>

	<button class="button button-positive" id="reloadBtn" ng-show="response" ng-click="reloadRoute()">
      <i class="icon ion-ios-reload"></i>
  </button>

  <button class="button button-positive" id="reloadBtn1" ng-click="findLocation()">
      <i class="icon ion-navigate"></i>
  </button>
 	
    <div id="map" data-tap-disabled="true">
    </div>

     <div id="right-panel" ng-show="response">

    </div>
  </ion-content>
</ion-view>
