<ion-view view-title="OnMyWay">
  <ion-content class="padding">
    <!-- <p>
      <a class="button icon icon-right ion-chevron-right" href="#/views/route">go to app</a>
    </p> -->
    <div class="list list-inset searchBox-top padding">

    	<div id="searchWrap" ng-hide="response">
		      <label class="item item-input">
		        <input type="text" id="start" placeholder="From">
		      </label>
		      <label class="item item-input">
		        <input type="text" id="end" placeholder="To">
		      </label>
    	</div>
	</div>
  <div ng-show="response" class="inputBackBtn">
  </div>

    <div id="map">
    </div>
  </ion-content>
</ion-view>
